// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



body {
  padding-top: 70px;
  font-size: 14px;
  color: #666;
}

h1,h2,h3,h4,h5,h6,ol,ul,p {
  margin: 0;
  padding: 0;
}